// TODO: reset css読ませたらマークダウンのスタイルも一緒に消えてしまった。解決方法考える
// @import '../../../node_modules/reset-css/sass/_reset.scss';
// @import 'reset-css';

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
  }
}